footer .list-inline, .copyright
{
    text-align: center;
    color: gray;
    font-size: 12px;
}
footer
{
    padding-bottom: 7%;
}
footer .list-inline .list-inline-item
{
    padding-right: 6px;
    cursor: pointer;
}
.translate, .copyright
{
    float: left;
    width: 14%;
}
.translate
{
    margin-left: 41%;
    margin-top: -10px;
}
.copyright
{
    margin-left: -9%;
    margin-top: -5px;
}
select{
    border: none;
    background: #F8F8F8;
    width: 60px;
    cursor: pointer;
    font-size: 12px;
    color: gray;
}