<app-navbar></app-navbar>
<app-view-post></app-view-post>
<div class="main-container">
    <div class="row-conatiner content-container" >
      <div class="left-section">
        <div class="story-section">
          <app-story-component></app-story-component>
        </div>
        <div class="post-section">
          <app-post-component></app-post-component>
        </div>
      </div>
      <div class="right-section">
        <div class="suggestion-section">
          <app-suggestion-component></app-suggestion-component>
        </div>
      </div>
    </div>
  </div>

  
