<app-navbar></app-navbar>
<div class="container row">
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <div class="display">
            <h6 class="name_id">vaish_sk</h6>
            <i class="fa fa-edit"></i>
        </div>
        <div class="left-chat">
            <div class="single-chat">
                <img src="/assets/Images/message1.png">
                <div class="chat-name">
                    <p>Vijay</p>
                    <div style="font-size: 15px;">🥳😍 <span style="color: grey;">.1D</span></div>
                </div>
            </div>
            <div class="single-chat">
                <img src="/assets/Images/message2.png">
                <div class="chat-name">
                    <p>Nikki</p>
                    <div>Active today</div>
                </div>
            </div>
            <div class="single-chat">
                <img src="/assets/Images/message3.png">
                <div class="chat-name">
                    <p>Surya</p>
                    <div>❤😍😁</div>
                </div>
            </div>
            <div class="single-chat">
                <img src="/assets/Images/message4.png">
                <div class="chat-name">
                    <p>Sundar Pichai</p>
                    <div>Active yesterday</div>
                </div>
            </div>
            <div class="single-chat">
                <img src="/assets/Images/message5.png">
                <div class="chat-name">
                    <p>Bezos</p>
                    <div>Active today</div>
                </div>
            </div>
            <div class="single-chat">
                <img src="/assets/Images/message6.png">
                <div class="chat-name">
                    <p>Samantha</p>
                    <div>💖 .2h</div>
                </div>
            </div>
            <div class="single-chat">
                <img src="/assets/Images/message7.png">
                <div class="chat-name">
                    <p>Trisha</p>
                    <div>💕 .1w</div>
                </div>
            </div>
            <div class="single-chat">
                <img src="/assets/Images/message8.png">
                <div class="chat-name">
                    <p>Dhanush</p>
                    <div>😎✌ .5d</div>
                </div>
            </div>
            <div class="single-chat">
                <img src="/assets/Images/message9.png">
                <div class="chat-name">
                    <p>Ajith</p>
                    <div>Active today</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="before-click">
            <img src="assets/Images/messenger.png">
            <div>Your Messenger</div>
            <div>Send private photos and messages to a friend or group.</div>
            <button class="btn btn-primary">Send Message</button>
        </div>
    </div>
    
</div>