.container{
    width:100%;
    display: flex;
    justify-content: center;
    padding:1em 0px;
    margin-top: 70px;
    margin-bottom: 20px;
    background-color: rgb(250,250,250);
}
.grid-container{
    width:85%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1.5em;
    grid-auto-flow: dense;
}

.blur,.info{
    visibility:hidden;
}

.post-container{
    aspect-ratio: 1/1;
}

.post-container{
    position:relative;
    overflow: hidden;
    img,video{
        position: absolute;
        width:100%;
        height:100%;
        object-fit: cover;
    }
}

.post-container:hover{
    .blur,.info{
        position: absolute;
        width:100%;
        height:100%;
        visibility: visible;
    }
    .blur{
        background-color: black;
        opacity:0.3;
    }
    .info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        background-color: transparent;
        color:white;
        font-size: large;

        .like-section,.comment-section{
            margin:5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            p{
                margin:2px;
            }
        }
    }
    
}

// row = index//3
//increaseRow = 0
// pos = 1

//grid-row-start = row + pos + (increaseRow) 
//grid-row-end = row + pos + (increaseRow) + 2

//grid-row = grid-row-start/grid-row-end;

// increaseRow++

.post-container{
    grid-column:1/3;
    //1//3 + 1 + 0 = 0+1+0 = 1 , 0+1+0+2 = 3
    //increaseRow = 1
}

.four{
    grid-row:3/5;
    grid-column:2/4;
    //4//3 + 1 + 1 = 1+1+1 = 3 , 1+1+1+2 = 5
    //increaseRow = 2
}

.video-container{
    grid-row : span 2;
    grid-column : span 2;
}

@media only screen and (max-width: 700px) {
    .grid-container{
        width:100%;
    }
  }