<div class="main-container column-container">
    <div class="profile-card row-container">
        <div class="dp-section">
            <div class="gradient-background">
                <div class="white-background">
                    <img src={{checkProfileUrl(authenticatedUser.profile)}} alt="">
                </div>
            </div>  
        </div>
        <div class=" info-section column-container">
            <span class="user-id dark bold">{{authenticatedUser.username}}</span>
            <span class="user-name">{{authenticatedUser.name}}</span>
        </div>
        <div class="switch-account-section">
            <button id="switch-button">Switch</button>
        </div>
    </div>

    <div class="row-container sp-bw-comp">
        <span class="bold">Suggestions For You</span>
        <span class="dark">See All</span>
    </div>

    <div class="suggested-card row-container">
        <div class="dp-section">
            <img src="https://pbs.twimg.com/profile_images/1480619646462091267/3nSxvTVN_400x400.jpg" alt="">
        </div>
        <div class=" info-section column-container">
            <span class="user-id dark bold">levi_ackerman_</span>
            <span class="followers">New to Instagram</span>
        </div>
        <div class="follow-account-section">
            <button id="follow-button">Follow</button>
        </div>
    </div>
    <div class="suggested-card row-container">
        <div class="dp-section">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOLEWlHmq2ETsvLOL7QndcFar_01nnmiWitw&usqp=CAU" alt="">
        </div>
        <div class=" info-section column-container">
            <span class="user-id dark bold">mikasa_acker_</span>
            <span class="followers">New to Instagram</span>
        </div>
        <div class="follow-account-section">
            <button id="follow-button">Follow</button>
        </div>
    </div>
    <div class="suggested-card row-container">
        <div class="dp-section">
            <img src="https://i1.sndcdn.com/artworks-Lvfh0dfwTlIHBN1R-CkkI1A-t500x500.jpg" alt="">
        </div>
        <div class=" info-section column-container">
            <span class="user-id dark bold">zeke_yaegar_</span>
            <span class="followers">New to Instagram</span>
        </div>
        <div class="follow-account-section">
            <button id="follow-button">Follow</button>
        </div>
    </div>
    <div class="home-footer">
        <div>About . Help . Press . API . Jobs . Privacy . Terms .</div>
        <div>Locations . Top Accounts . Hashtags . Language</div>
        <br/>
        <div><i class="fa fa-copyright"></i>&nbsp;&nbsp;2022 INSTAGRAM FROM META</div>
    </div>
</div>