<div class="story-view-container">
      <div class="insta-logo">
        <img src="assets\Images\insta-logo-white.png" alt="" srcset="">
      </div>
          <div class="instagram-stories-page">
            <div class="prev-button" (click)="prevStory()">
              <button class="btn-prev">
                <i class="fas fa-chevron-left"></i>
              </button>
            </div>
            <div class="instagram-story">
              <div class="story-info">
                  <div class="progress-bar">
                    <mat-progress-bar *ngFor="let post of posts ; let i = index" 
                    class="progress-bar-main" 
                    mode="determinate" 
                    [value]="checkIfActive(i)" >
                    </mat-progress-bar>
                  </div>
                <div class="story-header">
                  <div class="profile-image"></div>
                  <div class="profile-name"></div>
                  <div class="time"></div>
                  <div class="menu"></div>
                </div>
                <div class="story-footer"></div>
              </div>
                <div class="story-image">
                  <img src="" id="story-img" alt="" srcset="">
                </div>
            </div>

            <div class="next-button">
              <button class="btn-next" (click)="nextStory()">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
    
          </div>
          <div class="close-overlay close-button" routerLink="/home" >
            <i class="fa-solid fa-xmark"></i>
          </div>
        
      </div>


 

