
<div class="story-view__container">
        <div class="instagram-stories__page">
            <button class="instagram-stories__btn-prev">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button class="instagram-stories__btn-next">
              <i class="fas fa-chevron-right"></i>
            </button>
            <div class="cub">
                <div class="face face-up">1</div>
                <div class="face face-right">2</div>
                <div class="face face-down">3</div>
                <div class="face face-left">4</div>
                </div>
          </div>
          <div class="close-overlay close-button" routerLink="/home" >
            <i class="fa-solid fa-xmark"></i>
          </div>
          <div class="insta-logo">
            <img src="assets\Images\insta-logo-white.png" alt="" srcset="">
          </div>
</div>

