.story-view__container{
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  background-color: #1A1A1A;
  margin: 0px;
  padding:0px;
}

  .instagram-stories__page {
    position: relative;
    max-width: 500px;
    max-height: 900px;
    height: calc(100% - 50px);
    width: 500px;
    transform-style: preserve-3d;
  }
  
  .cub {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .7s;
  }
  
  .cub .face {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
      backface-visibility: hidden;
  }
  
  .cub .face-up {
    transform-origin: left;
  }
  
  .cub .face-left {
    transform: rotateY(-90deg) translateX(-100%);
    transform-origin: left;
  }
  
  .cub .face-right {
    transform: rotateY(90deg) translateX(100%);
    transform-origin: right top;
  }
  
  .cub .face-down {
    transform-origin: bottom left;
  }
  
  .instagram-stories__storie {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    width: 100%;
    user-select: none;
  }
  
  .instagram-storie__image {
    border-radius: 10px;
    aspect-ratio: 1/1.4;
    width:70%;
    align-self: center;
    object-fit: cover;
  }
  
  .instagram-storie__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: transparent;
  }
  
  .instagram-storie__header__user {
    display: flex;
    align-items: center;
  }
  
  .instagram-storie__header__user-image {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
  }
  
  .instagram-storie__header__user-name {
    margin: 0px;
    color: #fff;
    font-size: 14px;
  }
  
  .instagram-storie__header__options {
    color: #fff;
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
  }
  
  .instagram-storie__header__options-circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .instagram-storie__header__options-circle:not(:last-child) {
    margin-right: 4px;
  }
  
  .instagram-storie__progress {
    display: flex;
    padding: 12px 0px 8px 0px;
    background-color: transparent;
  }
  
  .instagram-storie__progress-item {
    height: 2px;
    background-color: #727272;
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .instagram-storie__progress-item__bar {
    background-color: #fff;
    height: 100%;
    width: 0%;
  }
  
  .instagram-storie__progress-item:not(:last-child) {
    margin-right: 2px;
  }
  
  .instagram-stories__btn-next, .instagram-stories__btn-prev,.close-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BEBEBE;
    color: #212121;
    border: none;
    padding: 0px;
    border-radius: 5px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
  .insta-logo{
    position: absolute;
    top:10px;
    left:10px;
  }
  .close-button{
    top:10px;
    right:10px;
    color:white;
    font-size: xx-large;
    border:none;
    background-color: transparent;
  }
  .instagram-stories__btn-next {
    top: calc(50% - 15px);
    right: -150px;
    transform: translateZ(600px);
  }
  
  .instagram-stories__btn-prev {
    top: calc(50% - 15px);
    left: -150px;
    transform: translateZ(600px);
  }
  
  @media (max-width: 920px) {
    .instagram-stories__page {
      width: 100%;
      height: 100%;
    }
    
    .instagram-stories__btn-next {
      right: 10px;
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);
    }
  
    .instagram-stories__btn-prev {
      left: 10px;
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);
    }
  }
  
  